.about{
	position: relative;
	width: 100%;
	display: block;
	padding-top: 100px;
	@media screen and (max-width: 768px){
		padding-top: 0px;
	}
	&_section{
		text-align: center;
		position: relative;
		display: flex;
		width: 100%;
		  @media screen and(max-width: 768px){
            display: block;
            padding-top: 100px;
        } 
		&-halfside{
			margin: 60px;
			position: relative;
			width: 50%;
			@media screen and(max-width: 768px){
				width: 85%;
				left: 50%;
				transform:translateX(-50%);
				margin: 0px;
        	} 

			h2{
				padding-bottom: 80px ;
				color: #FF2400;
			}
			p{
				font-size: 20px;
				line-height: 1.5;
				margin-bottom: 30px;

			}
			a{
				text-decoration: none;
				color: #dfe0e4;
    			&:hover{
					color: #FF2400;
    			}

			}
			&_icons{
				position: relative;
				width: 70%;
				text-align: center;
				left: 50%;
				top: 50%;
				transform:translate(-50%, -50%);
				@media screen and(max-width: 768px){
					width: 100%;
					top: 0;
					transform:translate(-50%);
        		}
				img{
					width: 100px;
				@media screen and(max-width: 768px){
					width: 60px;
        		}
				}

			}

		}
	}


}