.experience{
	margin-top: 50px;
	padding-bottom: 100px;
	position: relative;
	width: 100%;
	display: flex;
	background: linear-gradient(to bottom, #1d1d1d 0%,#333333 100%);

		@media screen and(max-width: 375px){
		    display: block;
		    top: 387px;
	background: linear-gradient(to bottom, #1d1d1d 0%,#1d1d1d 100%);
		    
		}
	a{
		text-decoration: none;
		color:#dfe0e4;
		font-family: 'kanitbold_italic';
		&:hover{
		color: #FF2400;

		}
	}
	h2{
		padding-bottom: 80px;
		color: #FF2400;
	}
	&-leftside{
		position: relative;
		width: 70%;
		@media screen and(max-width: 375px){
				width: 80%;
			}
	}
	&-inner{
		position: relative;
		width: 80%;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
		@media screen and(max-width: 375px){
		    width: 89%;
		    position: relative;
		    left: 60%;
		}
		h2{
			padding-bottom: 80px;
			color: #FF2400;
		}
		p{
			font-family: 'kanitextralight';
			padding-bottom: 40px;
			font-size: 20px;
			line-height: 1.3;
			@media screen and(max-width: 768px){
				font-size: 15px;
			}
		}
		img{
			width: 200px;
			transform:rotate(-180deg);
			top: -30%;
			opacity: .4;
			@media screen and(max-width: 768px){
				width:  150px;
			}
		}
	}
	&-rightside{
		position: relative;
		width: 30%;
				@media screen and(max-width: 375px){
				display: none;
			}

	}
}