<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "De Bernardi Claudio" %></title>
    <%= stylesheet_link_tag "site" %>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/logoCDB.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/logoCDB.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/logoCDB.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/logoCDB.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/logoCDB.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/logoCDB.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/logoCDB.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/logoCDB.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/logoCDB.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logoCDB.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/logoCDB.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logoCDB.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#FF2400">
    <meta name="msapplication-TileImage" content="/images/logoCDB.png">
    <meta name="theme-color" content="#FF2400">
  </head>
  <body>
    <%= yield %>
    
  <script src="https://cdn.jsdelivr.net/npm/verge@1.10.2/verge.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script> 
    <script src="https://kit.fontawesome.com/2a72c41660.js" crossorigin="anonymous"></script>

    <%= javascript_include_tag "site" %>



  </body>
</html>
