<!--If you are lookig for the source code that's good
thank you for it.
for this project I didn't use webpack and was my first time without a 
design project, I just did it.
if you wanna contact me you can any time I ready to learn much more and i want to change my life because in May 2019  I was in Ireland and I decided
to change my life and go back to study, and now after one year I can se that my journey has just begun.

Thanks for taking your time -->
<div class="navbar">
   <div class="navbar_contacts ">
    <a href="https://www.linkedin.com/in/claudio-de-bernardi-9b512459/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="mailto:cdb.webdev@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
  </div> 
  <div class="navbar_menu js-openMenu">
    <i class="fas fa-bars"></i>
  </div>
  <div class="header-scroll-menu_close js-closeMenu hide">
    <i class="fas fa-times"></i>
  </div>
</div>

  <div class="header-menu-dropdown js-menuList hide">
    <ul>
      <li class="js-dropdownList">About</li>
      <li class="js-dropdownList">Experience</li>
      <li class="js-dropdownList">Contact</li>
    </ul>
  </div>
<div class="filter js-top">
<div class="header">
   <div class="header_button header_button_about header_button_left js-toSection">
       <p>about</p>
   </div>
   
   <div class="header_button_right">

        <div class="header_button  header_button_experience js-toSection">
           <p>experience</p>
       </div>


        <div class="header_button  header_button_contact js-toSection">
           <p>contact</p>
       </div> 

       
      
   </div>
    
    <div class="header_background js-background">
        <img src="/images/illustrator.png" alt="">
    </div>
    <div class="header_title_mobile">
      <h1>Hi,</h1>
      <p>I'm Claudio.</p>
      <span>Front-end developer</span>
    </div>
    <div class="header_title">
            <h1>
                <span class="js-letter">H</span>
                <span class="js-letter">i</span>
                <span class="js-letter">,</span>
                <span class="space js-letter">I</span>
                <span class="js-letter">'</span>
                <span class="js-letter">m</span>
                <span class="space js-letter">C</span>
                <span class="js-letter">l</span>
                <span class="js-letter">a</span>
                <span class="js-letter">u</span>
                <span class="js-letter">d</span>
                <span class="js-letter">i</span>
                <span class="js-letter">o</span>
                <span class="js-letter">.</span>
              </h1>
    <p class="js-subtitle">Front-end developer.</p>

    <button >Learn more about what I do
      <div class="header-title-arrow js-goDown"><i class="fas fa-angle-double-down"></i></div>
    </button>
    </div>
</div>

<div class="about js-about">
   <div class="about_section">
        <div class="about_section-halfside  ">
          <h2>About me</h2>
            <p class="js-p">Professionally motivated and able to face new challenges every day.
       I changed my profession from 2019 after spending part of the last few years traveling and learning new languages.</p>
            <p class="js-p">I am very competitive and I try to improve myself every day.
        I currently live in the South of France, but I am available to work remotely with the possibility of moving during the week. I love traveling.
      </p>
            
        </div>
   </div>
   <div class="about_section">
        <div class="about_section-halfside">
          <div class="about_section-halfside_icons">
            <img src="/images/html.png" alt="">
            <img src="/images/js.png" alt="">
            <img src="/images/css.png" alt="">
            <img src="/images/scss.png" alt="">

            <img src="/images/webpack.png" alt="">
            <img src="/images/middleman.svg" alt="">

          </div>

        </div>
        <div class="about_section-halfside">
      <h2>Skills</h2>
      <p class="js-p">I usually create my projects starting from Middleman, which is essentially a RubyGems package manager.</p>
      <p class="js-p">Based on the projects I implement my code with webpack, normally I prefer to use the SCSS style to better organize my code. After two months course I've learned the Adobe Creative Suite packages. I am very motivated and predisposed to learn new things.
      </p>
        </div>      
   </div>
  
</div>
<div class="carousel">
  <div class="carousel_section">
    <div class="carousel_strip">
      <img class='img-carousel'src="/images/img1.JPG" alt="">
      <img class='img-carousel'src="/images/img2.jpg" alt="">
      <img class='img-carousel'src="/images/img4.JPG" alt="">
      <img class='img-carousel'src="/images/img5.JPG" alt="">
      <img class='img-carousel'src="/images/img1.JPG" alt="">
    </div>
  </div>
  <div class="actions">
    <button class="js-prev"><i class="fas fa-backward"></i></button>
    <button class="js-next"><i class="fas fa-forward"></i></button>
  </div>
</div>


<div class="experience js-experience">
  <div class="experience_contents">
        <h2>My experience</h2>

        <p class="js-p">I have always been passionate about the world of computer science, but the first direct contact with the web development occurred in 2019, when I lived in Ireland and I thought of changing my life. Until then, I have traveled and the only job that allowed me to do so was in hospitality as a waiter.</p>
        <p class="js-p">In a short time I realized that it was becoming my passion. To better understand the various aspects, I enrolled in a qualified web programming course, lasting about four months. 
           During the studies I learned the basics of the code(html, css and java-script), I started to get familiar with wordpress and the most used Adobee creator Suite packages (photoshop, Illustrator, Animate and Xd). I understood that you never stop learning and above all you must always be updated with technological progress. In 2020, I did my internship with a small passionate team in Milan.
        During this my first experience I learned to use the terminal and make it a daily tool for my projects in Middleman with (npm and Webpack). <br>
        After few months I went online with my <a href="https://www.castellodicigognola.com/" target="_blank">first project</a>.
      </p>    
  </div>
  <div class="experience_img">
     <img src="/images/light.png" alt="">
  </div>

</div>



<div class="footer">
  
    <div class="footer-background-pic">
      <img src="/images/cdbLogo.png" alt="">
    </div>
  <div class="footer-contact js-contact">
    <h2 class="js-sectionTitle">Contact</h2>
    <h3 class="js-p">Thanks for taking 10 minutes of your time to visit my profile.</h3>
    <p class="js-p">Contact me for collaborations and projects.</p>
    
      <p class="footer-number js-p">+33 785654172</p>
      <p class="footer-email js-p"><a  href="mailto:cdb.webdev@gmail.com" target="_blank">cdb.webdev@gmail.com</a></p>

    <div class="footer-socials">
      <a href="https://www.facebook.com/debe90" target="_blank"><i class="fab fa-facebook-f right-20"></i></a>
      <a href="https://www.linkedin.com/in/claudio-de-bernardi-9b512459/" target="_blank"><i class="fab fa-linkedin-in right-20"></i></a>
      <a href="https://www.instagram.com/cdb_web/?hl=it" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-backarrow js-p js-toTop">
    <i class="fas fa-arrow-up"></i>
  </div>

</div>
</div>
