<div class="header">



  <div class="header-background-pic js-background">
    <img src="/images/illustrator.png" alt="">
  </div>

  <div class="header-topside js-top">

      <a href="mailto:cdb.webdev@gmail.com" target="_blank"><i class="fas fa-at"></i></a>
      <a href="https://www.linkedin.com/in/claudio-de-bernardi-9b512459/" target="_blank"><i class="fab fa-linkedin-in"></i></a>

  </div>
  <div class="header-scroll-menu js-openMenu">
    <i class="fas fa-bars "></i>
  </div>
  <div class="header-scroll-menu_close js-closeMenu hide">
    <i class="fas fa-times"></i>
  </div>
  <div class="header-menu-dropdown js-menuList hide">
    <ul>
      <li class="js-dropdownList">About</li>
      <li class="js-dropdownList">Experience</li>
      <li class="js-dropdownList">Contact</li>
    </ul>
  </div>

  <div class="header-leftside ">
    <div class="header-leftside_experience header-btn js-toSection">
      <div class="header_menu_item">
        <p>about</p>
      </div>
    </div>
  </div>

  <div class="header-rightside ">
    <div class="header-rightside_about header-btn js-toSection">
      <div class="header_menu_item">
        <p>experiences</p>
      </div>
    </div>
    <div class="header-rightside_contact header-btn js-toSection">
      <div class="header_menu_item">
         <p>contact</p> 
      </div>
    </div>
  </div>

  <div class="header-title">
    <h1>
    <span class="js-letter">H</span>
    <span class="js-letter">i</span>
    <span class="js-letter">,</span>
    <span class="space js-letter">I</span>
    <span class="js-letter">'</span>
    <span class="js-letter">m</span>
    <span class="space js-letter">C</span>
    <span class="js-letter">l</span>
    <span class="js-letter">a</span>
    <span class="js-letter">u</span>
    <span class="js-letter">d</span>
    <span class="js-letter">i</span>
    <span class="js-letter">o</span>
    <span class="js-letter">.</span>
  </h1>

    <!--<h1>Hi, I'm Claudio, web developer.</h1>-->
    <p class="js-subtitle">Front-end developer.</p>

    <button>Learn more about what I do
      <div class="header-title-arrow js-goDown"><i class="fas fa-angle-double-down"></i></div>
    </button>
  </div>
</div>

<div class="about js-about">
  <div class="about-leftside">
    <div class="about-inner">
      <h2 class="js-sectionTitle ">About me</h2>
        <p class="js-p">Professionally motivated and able to face new challenges every day.
        Professionally converted since 2019 after spending part of the last few years traveling and learning new languages.</p>
        <p class="js-p">I am very competitive and I try to improve myself every day.
        I currently live in the South of France, but I am available to work remotely with the possibility of moving during the week. I love traveling.
      </p>
    </div>
  </div>
</div>

  

<div class="about about-skill">
  <div class="about-leftside">
    <div class="about-inner">
      <div class="about-inner_wrapper">
          <img src="/images/html.png" alt="">
          <img src="/images/js.png" alt="">
          <img src="/images/css.png" alt="">
          <img src="/images/scss.png" alt="">
          <img src="/images/webpack.png" alt="">
          <img src="/images/middleman.svg" alt="">
      </div>
    </div>
  </div>
  <div class="about-rightside">
    <div class="about-inner ">
      <h2 class="js-sectionTitle">Skills</h2>
      <p class="js-p">I usually create my projects starting from Middleman, which is essentially a RubyGems package manager.</p>
      <p class="js-p">Based on the projects I implement my code with webpack, normally I prefer to use the SCSS style to better organize my code. After two months course I've learned the Adobe Creative Suite packages. I am very motivated and predisposed to learn new things.
      </p>
    </div>
  </div>
</div>

<div class="experience js-experience">
  <div class="experience-leftside">
    <div class="experience-inner">
      <h2 class="js-sectionTitle">My experience</h2>

        <p class="js-p">I have always been passionate about the world of computer science, but the first direct contact with the web code occurred in 2019 when I lived in Ireland and I thought of changing my life. Until then I have traveled and the only job that allowed me to do so was in hospitality as a waiter.</p>
        <p class="js-p">In a short time I realized that it was becoming my passion. To better understand the various aspects I enrolled in a qualified web programming course lasting about four months. 
           During the studies I learned to use Wordpress for the programming part and the most used Adobee creator Suite packages (photoshop, Illustrator, Animate and Xd) I understood that you never stop learning and above all you must always be updated with technological progress. In 2020 I did my internship with a small passionate team in Milan.
        During this my first experience I learned to use the terminal and make it a daily tool for my projects in Middleman with (npm and Webpack). <br>
        After few months I went online with my <a href="https://www.castellodicigognola.com/" target="_blank">first project</a> during the internship.
      </p>
    </div>
  </div>
  <div class="experience-rightside">
    <div class="experience-inner">
        <img class="experience-inner_light-img" src="/images/light.png" alt="">
    </div>
  </div>
</div>

<div class="footer">
  
    <div class="footer-background-pic">
      <img src="/images/cdbLogo.png" alt="">
    </div>
  <div class="footer-contact js-contact">
    <h2 class="js-sectionTitle">Contact</h2>
    <h3 class="js-p">Thanks for taking 10 minutes of your time to visit my profile.</h3>
    <p class="js-p">Contact me for collaborations and projects.</p>
    
      <p class="footer-number js-p">+33 0785654172</p>
      <p class="footer-email js-p"><a  href="mailto:cdb.webdev@gmail.com" target="_blank"></a>cdb.webdev@gmail.com</p>

    <div class="footer-socials">
      <a href="https://www.facebook.com/debe90" target="_blank"><i class="fab fa-facebook-f right-20"></i></a>
      <a href="https://www.linkedin.com/in/claudio-de-bernardi-9b512459/" target="_blank"><i class="fab fa-linkedin-in right-20"></i></a>
      <a href="https://www.instagram.com/cdb_web/?hl=it" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-backarrow js-p js-toSection">
    <i class="fas fa-arrow-up"></i>
  </div>

</div>

