<!--If you are lookig for the source code that's good
thank you for it.
for this project I didn't use webpack and was my first time without a 
design project, I just did it.
if you wanna contact me you can any time I ready to learn much more and i want to change my life because in May 2019  I was in Ireland and I decided
to change my life and go back to study, and now after one year I can se that my journey has just begun.

Thanks for taking your time .-->
<div class="navbar">
   <div class="navbar_contacts ">
      <a href="https://www.linkedin.com/in/claudio-de-bernardi-9b512459/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:cdb.webdev@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
   </div> 
   <div class="navbar_menu js-openMenu">
      <i class="fas fa-bars"></i>
   </div>
   <div class="header-scroll-menu_close js-closeMenu hide">
      <i class="fas fa-times"></i>
   </div>
</div>

<div class="header-menu-dropdown js-menuList hide">
   <ul>
      <li class="js-dropdownList">About</li>
      <li class="js-dropdownList">Skill</li>
      <li class="js-dropdownList">Contact</li>
   </ul>
</div>

<div class="filter js-top">
   <div class="header">
      <div class="header_button header_button_about header_button_left js-toSection">
         <p>about</p>
      </div>
      
      <div class="header_button_right">
         <div class="header_button  header_button_experience js-toSection">
            <p>Skill</p>
         </div>

         <div class="header_button  header_button_contact js-toSection">
            <p>contact</p>
         </div> 
      </div>
       
      <div class="header_background js-background">
           <img src="/images/illustrator.png" alt="">
      </div>

      <div class="header_title_mobile">
         <h1>Hi,</h1>
         <p>I'm Claudio.</p>
         <span>Front-end developer</span>
      </div>

      <div class="header_title">
         <h1>
             <span class="js-letter">H</span>
             <span class="js-letter">i</span>
             <span class="js-letter">,</span>
             <span class="space js-letter">I</span>
             <span class="js-letter">'</span>
             <span class="js-letter">m</span>
             <span class="space js-letter">C</span>
             <span class="js-letter">l</span>
             <span class="js-letter">a</span>
             <span class="js-letter">u</span>
             <span class="js-letter">d</span>
             <span class="js-letter">i</span>
             <span class="js-letter">o</span>
             <span class="js-letter">.</span>
         </h1>

         <p class="js-subtitle">Front-end developer.</p>

         <button >Learn more about what I do
            <div class="header-title-arrow js-goDown"><i class="fas fa-angle-double-down"></i></div>
         </button>
      </div>
   </div>

   <div class="about js-about">
      <div class="about_section">
         <div class="about_section-halfside  ">
            <h2>About me</h2>
            <p class="js-p">I am looking for a new professional opportunity as a <b>Front-end Developer</b>.</p> <p class="js-p">In October I will take the final exam to become a web designer.</p>
            <p class="js-p">Since February 2020, I have participated in an internship with a team of Developers and Designers based in Milan (<b><a href="https://www.display.xxx/">Display</a></b>), who have taught me latest technologies. After a month, I continued to further develop my skills from home. Guided by my mentor, I happily successfully completed my <a href="https://www.castellodicigognola.com/" target="_blank"><b>first project.</b></a></p>

            <p class="js-p">Before entering the world of web development, I spent many years within the international hospitaly industry as a waiter(<b>France</b>, <b>Australia</b>, <b>Ireland</b>, <b>Germany</b>). This fast paced, demanding environment taught me a lot.
             About how to prioritise, be flexible and adaptable, and continually improved my organisation, comunication and management skills.</p>
            <p class="js-p">These years have been a process of personal growth that have made me a very determined person, open to listening and to work in a team.
            </p>
         </div>
      </div>
   </div>

   <div class="skill js-skill">
      <h2 class="js-p"> Web Development Skills</h2>
      <div class="skill-wrapper">
         <div class="skill-wrapper-block">
            <h4 class="js-p">Programming</h4>
            <ul>
               <li class="js-p"><i class="fas fa-angle-right"></i>HTML5, CSS3, SCSS</li>
                <li class="js-p"><i class="fas fa-angle-right"></i>Css Framework Bootstrap4</li>
               <li class="js-p"><i class="fas fa-angle-right"></i>JavaScript(ES6)</li>
               <li class="js-p"><i class="fas fa-angle-right"></i>Animations with GSAP3</li>
               <li class="js-p"><i class="fas fa-angle-right"></i>Use of Webpack</li>
               <li class="js-p"><i class="fas fa-angle-right"></i>Static site generator Middleman</li>
               <li class="js-p"><i class="fas fa-angle-right"></i>Deploy process on now.sh, surge.sh and heroku</li>

            </ul>
         </div>

         <div class="skill-wrapper-block">
            <h4 class="js-p">My Tools</h4>
            <ul>
               <li class="js-p"><i class="fas fa-angle-right"></i>Version control system (Git, Bitbucket)</li>
               <li class="js-p"><i class="fas fa-angle-right"></i>Editors (Sublime/Brackets/Atom)</li>
            </ul>
         </div>

         <div class="skill-wrapper-block">
            <h4 class="js-p">Soft Skill</h4>
            <ul>
               <li class="js-p"><i class="fas fa-angle-right"></i>Excellent communication skill in Italian, French and English</li>
               <li class="js-p"><i class="fas fa-angle-right"></i>Ability to complete task on time and with quality</li>
               <li class="js-p"><i class="fas fa-angle-right"></i>Quickly learns new skills as per project requirements</li>
            </ul>
         </div>                    
      </div>

      <div class="skill-wrapper skill-wrapper_mobile">
         <div class="skill-box">
            <div class="skill_icon">
               <img src="/images/middleman.svg" alt="">
               <h3 >Middleman</h3>
            </div>
         </div>

         <div class="skill-box">
            <div class="skill_icon">
               <img src="/images/webpack.png" alt="">
               <h3>Webpack</h3>
            </div>
         </div>

          <div class="skill-box">
            <div class="skill_icon">
               <img src="/images/bitbucket.png" alt="">
               <h3>Bitbucket</h3>
            </div>
          </div>

          <div class="skill-box skill-box_right">
            <div class="skill_icon">
               <img src="/images/wordpress2.png" alt="">
               <h3>WordPress</h3>
            </div>
          </div>
     </div>        
   </div>

   <div class="gallery">
      <div class="gallery_wraper">
         <div class="gallery-element">
            <div class="gallery-element_photo">
               <img src="/images/image1.jpg" alt="">
            </div>
            <div class="gallery-element_description">
               <p>WordCamp Marseille 2019. </p>
            </div>
         </div>

         <div class="gallery-element">
            <div class="gallery-element_photo">
               <img src="/images/image2.jpg" alt="">
            </div>
            <div class="gallery-element_description">
               <p>Milan 2020, during my internship at Display. </p>
            </div>
         </div>

         <div class="gallery-element">
            <div class="gallery-element_photo">
               <img src="/images/image5.jpg" alt="">
            </div>
            <div class="gallery-element_description">
               <p>My workplace at home in Italy. </p>
            </div>
         </div>

         <div class="gallery-element">
            <div class="gallery-element_photo">
               <img src="/images/cdbLogo.png" alt="">
            </div>
            <div class="gallery-element_description">
               <p>Draft of my personal Logo.</p>
            </div>
         </div>
      </div>
   </div>

   <div class="footer">
      <div class="footer-background-pic">
         <img src="/images/cdbLogo.png" alt="">
      </div>
      <div class="footer-contact js-contact">

         <h2 class="js-sectionTitle">Contact</h2>
         <h3 class="js-p">Thanks for your time to visit my profile.</h3>
         <p class="js-p">Contact me for collaborations and projects.</p>
         <p class="footer-number js-p">+33 785654172</p>
         <p class="footer-email js-p"><a  href="mailto:cdb.webdev@gmail.com" target="_blank">cdb.webdev@gmail.com</a></p>

         <div class="footer-socials">
            <a href="https://www.facebook.com/debe90" target="_blank"><i class="fab fa-facebook-f right-20"></i></a>
            <a href="https://www.linkedin.com/in/claudio-de-bernardi-9b512459/" target="_blank"><i class="fab fa-linkedin-in right-20"></i></a>
            <a href="https://www.instagram.com/cdb_web/?hl=it" target="_blank"><i class="fab fa-instagram"></i></a>
         </div>
      </div>
      <div class="footer-backarrow js-p js-toTop">
         <i class="fas fa-arrow-up"></i>
      </div>
   </div><!--end footer-->
</div><!--end filter-->
